.nav li {

	color: #5a5a5a;
  font-size: 30px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  height: 40;
}

.nav a{
	display: inline;
}

.nav a:hover{
	color: red;
}

.jumbotron{
	background-image: url('../src/sushi.jpg');
	background-size: cover;
	height: 500px;
}

.jumbotron .container{
	color: #ffffff;
	position: relative;
	top: 100;
}

.theTitle
{
	color: red;
}

/*@media (max-width: 800px){*/
	.testSubject{
		text-align: center;
		width: 80%;
		background-color: yellow;
		margin: 0 auto;
	}
/*}*/